@model IEnumerable<TradingPlatformMVC.Models.broker>

@{
    ViewBag.Title = "Brokers";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.first_name) @Html.DisplayFor(modelItem => item.last_name)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.broker_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.broker_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.broker_id })
        </td>
    </tr>
}

</table>
