@model IEnumerable<TradingPlatformMVC.Models.company>

@{
    ViewBag.Title = "Companies";
}

    <h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Company Name", "Index", new { sortBy = ViewBag.SortingCompanyNamePar, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] })
        </th>
        <th>
            @Html.ActionLink("Place ID", "Index", new { sortBy = ViewBag.SortingPlaceIdPar, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] })
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.place_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.company_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.company_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.company_id })
        </td>
    </tr>
}

</table>
